*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.todo-app{
    
    background-image: url(./images/blog2.jpg);
    background-position: center;
   
    .todo-cover{
        background: rgba(8, 8, 8,.8);
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;

        h1{
            font-size: 60px;
            letter-spacing: 2px;
            text-transform: capitalize;
            color: rgb(229, 240, 250);
            margin: 50px 0;
        }
        h5{
            color: rgb(206, 211, 214);
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 12px;
            position: relative;
            bottom: -30px;
        }
    }
}
.todolist{
    padding: 20px;
    width: 60%;
    min-height: 500px;
    border: 2px solid rgb(76, 72, 72);
    text-align: center;
    background: rgba(71, 71, 75, 0.6);
    word-wrap:break-word;
    input{
        width: 45%;
        height: 40px;
        margin: 20px;
        border: none;
        border-bottom: 2px solid rgb(235, 235, 241);
        background: transparent;
        padding:5px;
        outline: none;
        color: aliceblue;
        &::placeholder{
            color: rgb(163, 176, 187);
            letter-spacing: 2px;
            word-spacing: 1px;
            text-align: center;
        }
    }
    .todo-btn{
       
        margin-left: 10px;
        font-size: 42px;
        width: 52px;
        height: 52px;
        border-radius: 100px;
        outline: none;
        color: white;
        background: rgba(17, 17, 17,.7);
        border: none;
        transition: all .2s ease;
        margin-bottom: 40px;
        &:hover{
            
            border:2px solid rgba(248, 247, 247, 0.7);
            box-shadow: 0px 0px 15px rgb(135, 209, 238);
            transform: scale(1.1);
            background: rgba(17, 17, 17,.7);
        }
    }

    .lists{
        width: 80%;
        border: 1px solid rgba(70, 91, 97,.5);
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 5px;
        margin: 15px auto;
        word-break: break-all;

        p{
            color: rgba(247, 252, 252, 0.815);
            font-size: 20px;  
            font-family: 'Courier New', Courier, monospace;
            letter-spacing: .5px;
            text-transform: capitalize;
        }
        button{
            height: 30px;
            width: 30px;
            padding: 2px;
            border-radius: 50px;
            font-size: 15px;
            border: none;
            outline: none;
            &:hover{
                background: rgb(230, 25, 25);
                color: white;
                box-shadow: 0 0 5px rgb(252, 247, 247);
            }
        }
    }

}
@media only screen and (max-width: 1000px) {
    .todolist{
        width: 70%;
    }
   }
@media only screen and (max-width: 800px) {
   .todolist{
       width: 80%;
   }
  }
@media only screen and (max-width: 650px) {
    .todolist{
        width:90%;
    }
  }